fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
youtube-transcript-api
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-huggingface
sentence-transformers
faiss-cpu
